.contacts {
  list-style: none;
}

.menu-site,
.contact-phone-number,
.menu__link.item,
.logo {
  text-decoration: none;
}

.page-logo, 
.address-logo {
  @include font (26px, 700, 31px);
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--address-color);
}
    
    
.page-list, 
.address-item {
  @include font (26px, 700, 31px);
    font-family: var(--secondary-font);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}
        
.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color);
}  
    
.page-header-container {
  @extend %align;
}
    
.page-navigation {
  display: flex;
  align-items: center;
}
    
.menu {
  display: flex;
  column-gap: 50px;
}
    
.page-navigation__logo {
  margin-right: 93px;
}
    
.menu__link.link {
  @include font (14px, 500, 16px);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  transition: color var(--transition-dur-and-func);
    
&:hover,
&:focus {
  color: var(--address-color);
 } 
}
    
.menu__link.item {
  @include font (14px, 500, 16px);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--address-color);
  transition: color var(--transition-dur-and-func);
  

&:hover, 
&:focus {
  color: var(--address-color);
 }
  
&::after {
  position: absolute;
  content: "";
  background-color: var(--address-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transition: opacity var(--transition-dur-and-func);
 } 
}
 
.contacts {
  display: flex;
  margin-left: auto;
      
&:hover,
&:focus {
  fill: var(--address-color);
  }
}

.menu-site {
  margin-left: auto;
  margin-right: 30px;
}

.menu-site {
  @include font (14px, 500, 16px);
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  color: var(--menu-site-color);
  transition: color var(--transition-dur-and-func);


&:hover, 
&:focus  {
  fill: var(--address-color);
 }
}   

.message__icon,
.smartphone__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--menu-site-color);


&:hover .smartphone__icon,
&:focus .smartphone__icon {
  fill: var(--address-color);
 }
}
.contact-phone-number {
  @include font (14px, 500, 16px);
  display: flex;
  align-items: center;
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
  color: var(--menu-site-color);
  transition: color var(--transition-dur-and-func);
    
&:hover, 
&:focus  {
  fill: var(--address-color);
  }
}
    