.page-logo {
    .address-logo {
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: var(--address-color);
     }
    }
    
    .page-list {
    .address-item {
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: var(--secondary-title-color);
     }
    }
    
    
    .page-header {
      padding-top: 24px;
      padding-bottom: 25px;
    }  
    
    .page-header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .page-navigation {
      display: flex;
      align-items: center;
    }
    
    .menu {
      display: flex;
      column-gap: 50px;
    }
    
    .logo {
      margin-right: 93px;
    }
    
    .menu-link.link {
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;
      color: var(--text-color);
      transition: color var(--transition-dur-and-func);
    
     &:hover,
     &:focus {
      color: var(--address-color);
     }
    }
    
    .menu-link.item {
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      padding-top: 32px;
      padding-bottom: 32px;
      position: relative;
      color: var(--address-color);
      transition: color var(--transition-dur-and-func);
    }
    
    .current::after {
      position: absolute;
      content: "";
      background-color: var(--address-color);
      height: 4px;
      width: 100%;
      border-radius: 2px;
      left: 0;
      bottom: 0;
      transition: opacity var(--transition-dur-and-func);
    }
    
    .menu-site {
    .contact-phone-number {
      display: flex;
      align-items: center;
      font-family: var(--primary-font);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--menu-site-color);
      transition: color var(--transition-dur-and-func);
     }
    }
    
    .menu-site {
      margin-left: auto;
      margin-right: 30px;
    
    .message  &:hover ,
    .message  &:focus {
      fill: var(--address-color);
     }
    }
    
    .contacts {
      display: flex;
      margin-left: auto;
      
     &:hover,
     &:focus {
      fill: var(--address-color);
     }
    }
       
    .menu-link:hover, 
    .menu-link:focus {
      color: var(--address-color);
    }
      
    .contact-phone-number:hover .smartphone,
    .contact-phone-number:focus .smartphone{
      fill: var(--address-color);
    }
    
    
    .message {
    .smartphone {
      width: 16px;
      height: 12px;
      margin-right: 10px;
      fill: var(--menu-site-color);
     }
    }