.modal-form-title {
  display: block;
  font-family: var(--primary-font);
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal-form{
  display: flex;
  flex-direction: column;
}

.modal-form-field-desc {
  display: block;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--menu-site-color);
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--modal-form-color);
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);


 &:focus {
  outline: none;
  border-color: var(--address-color);
 }
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: color var(--transition-dur-and-func);

 &:focus {
  outline: none;
  color: var(--text-color);
}

.modal-form-input:focus + & {
  fill: var(--address-color);
 }
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid var(--modal-form-color);
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);

 &:focus {
  outline: none;
  border-color: var(--address-color);
}

 &::placeholder {
  color: var(--modal-placeholder-color);
 }
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-own-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;

.modal-form-check:checked + & {
  background-color: var(--address-color);
}

.modal-form-check:focus + & {
  box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
 }
}
 
.modal-form-own-checkbox-icon {
  display: none;

.modal-form-check:checked + .modal-form-own-checkbox & {
  display: block;
  fill: var(--title-text-color);
 }
} 

.modal-form-desc {
  display: flex;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--menu-site-color);
}

.modal-form-check-link {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--address-color);
}

.modal-form-submit {
  font-weight: 700;
  align-self: center;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--form-icon-color);
  border: none;
  padding: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  border-radius: 4px;
  color: var(--title-text-color);
  transition: color var(--transition-dur-and-func);
 
 &:focus {
  box-shadow: 0 4px var(--form-color);
 }
}