.post-section.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--title-color);
}

.user {
  width: 270px;
  background-color:var(--title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.section-list-container {
  display: flex;
  column-gap: 30px;
}

.list-container {
  display: flex;
  column-gap: 30px;
}

.section-item {
.post {
.clients-section {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: Center;
  margin-bottom: 50px;
  color: var(--text-color);
  }
 }
}
.post-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: Center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.post-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: Center;
  color: var(--menu-site-color);
}